<!DOCTYPE html>
<html ng-app='MyTodoApp'>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/todo.css">
</head>

<body ng-controller='TodoCtrl as tc'>
    <div>
      <table>
        <tr>
            <th>Name</th>
            <th>Comment</th>
        <tr>
          <tr>
              <th><input type='text' ng-model='tc.newItem.name'></input></th>
              <th><input type='text'  ng-model='tc.newItem.comment'></input></th>
          <tr>
          <tr>
            <td><input type='button' value='add' ng-click='tc.addItem()'></input></td>
          </tr>
      </table>
<BR>
    </div>
            <div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Comment</th>
                        <th>Done</th>
                        <th>Remove</th>
                    <tr>
                    <tr ng-repeat='item in tc.JsonData | filter: {removed:false}' ng-class="{'todoDone': item.done}">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.comment}}</td>
                        <td class='clickable' ng-click="tc.doneItem(item)">{{item.done}}</td>
                        <td><input type='button' value='Remove' ng-click="tc.removeItem($index)"></td>
                    <tr>
                </table>
            </div>

            <script src='js/angular.min.js'></script>
            <script src='app.js'></script>
            <script src='controllers/TodoCtrl.js'></script>
</body>

</html>
